body {
  padding: 20px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: HelveticaNeue-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImciIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMTM1LjUiIHkxPSIwIiB4Mj0iMTM1LjUiIHkyPSI0ODEiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMjcxIiBoZWlnaHQ9IjQ4MSIgZmlsbD0idXJsKCNnKSIgLz48L3N2Zz4=);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(238, 238, 238)), color-stop(100%, rgb(255, 255, 255)));
  background-image: -webkit-linear-gradient(top, rgb(238, 238, 238) 0%, rgb(255, 255, 255) 100%);
  background-image:    -moz-linear-gradient(top, rgb(238, 238, 238) 0%, rgb(255, 255, 255) 100%);
  background-image:     -ms-linear-gradient(top, rgb(238, 238, 238) 0%, rgb(255, 255, 255) 100%);
  background-image:      -o-linear-gradient(top, rgb(238, 238, 238) 0%, rgb(255, 255, 255) 100%);
  background-image:         linear-gradient(to bottom, rgb(238, 238, 238) 0%, rgb(255, 255, 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
  background-repeat: no-repeat;
}

a {
  color: #00B7FF;
}

h1
{
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    font-family: HelveticaNeue-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
    margin: 0px;
}

h2
{
    font-size: 1.7em;
    text-align: center;
    font-weight: normal;
    font-family: HelveticaNeue-Medium,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: rgb(0, 0, 0);
    margin: 15px;
}
$box-radius: 4px;
.eventbox
{
    width: 90%;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(255, 255, 255);
    border: none;
    -webkit-box-shadow: 0px -1px 3px 0 rgba(0, 0, 0, 0.482);
       -moz-box-shadow: 0px -1px 3px 0 rgba(0, 0, 0, 0.482);
            box-shadow: 0px -1px 3px 0 rgba(0, 0, 0, 0.482);
    -webkit-border-radius: $box-radius $box-radius $box-radius $box-radius;
       -moz-border-radius: $box-radius $box-radius $box-radius $box-radius;
            border-radius: $box-radius $box-radius $box-radius $box-radius;
}
#saron_logo
{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 182px;
    height: 36px;
    background-image: url(/images/saron_logo.gif);
    background-repeat: repeat;
    background-position: 0px 0px;
    border: none;
}
#title6
{
    position: absolute;
    left: 35px;
    width: 201px;
    top: 47px;
    height: 25px;
    background: none;
    border: none;
    font-size: 20px;
    text-align: center;
    font-family: HelveticaNeue-Medium, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
}
#rectangle2
{
    position: absolute;
    left: 10px;
    width: 251px;
    top: 99px;
    height: 56px;
    background: rgb(255, 255, 255);
    border: none;
    -webkit-box-shadow: 0px -1px 3px 0 rgba(0, 0, 0, 0.482);
       -moz-box-shadow: 0px -1px 3px 0 rgba(0, 0, 0, 0.482);
            box-shadow: 0px -1px 3px 0 rgba(0, 0, 0, 0.482);
    -webkit-border-radius: 2px 2px 2px 2px;
       -moz-border-radius: 2px 2px 2px 2px;
            border-radius: 2px 2px 2px 2px;
}
#title2
{
    position: absolute;
    left: 7px;
    width: 71px;
    top: 85px;
    height: 24px;
    background: none;
    border: none;
    font-size: 20px;
    text-align: center;
    font-family: HelveticaNeue-Medium, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
}
#text
{
    position: absolute;
    left: 47px;
    width: 177px;
    top: 106px;
    height: 21px;
    background: none;
    border: none;
    font-size: 16px;
    text-align: center;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
}
#rectangle3
{
    position: absolute;
    left: 10px;
    width: 251px;
    top: 184px;
    height: 56px;
    background: rgb(255, 255, 255);
    border: none;
    -webkit-box-shadow: 0px -1px 3px 0 rgba(0, 0, 0, 0.482);
       -moz-box-shadow: 0px -1px 3px 0 rgba(0, 0, 0, 0.482);
            box-shadow: 0px -1px 3px 0 rgba(0, 0, 0, 0.482);
    -webkit-border-radius: 2px 2px 2px 2px;
       -moz-border-radius: 2px 2px 2px 2px;
            border-radius: 2px 2px 2px 2px;
}
#title3
{
    position: absolute;
    left: 7px;
    width: 71px;
    top: 170px;
    height: 24px;
    background: none;
    border: none;
    font-size: 20px;
    text-align: center;
    font-family: HelveticaNeue-Medium, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
}
#text2
{
    position: absolute;
    left: 47px;
    width: 177px;
    top: 191px;
    height: 21px;
    background: none;
    border: none;
    font-size: 16px;
    text-align: center;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
}
#rectangle4
{
    position: absolute;
    left: 11px;
    width: 251px;
    top: 267px;
    height: 56px;
    background: rgb(255, 255, 255);
    border: none;
    -webkit-box-shadow: 0px -1px 3px 0 rgba(0, 0, 0, 0.482);
       -moz-box-shadow: 0px -1px 3px 0 rgba(0, 0, 0, 0.482);
            box-shadow: 0px -1px 3px 0 rgba(0, 0, 0, 0.482);
    -webkit-border-radius: 2px 2px 2px 2px;
       -moz-border-radius: 2px 2px 2px 2px;
            border-radius: 2px 2px 2px 2px;
}
#title4
{
    position: absolute;
    left: 8px;
    width: 71px;
    top: 253px;
    height: 24px;
    background: none;
    border: none;
    font-size: 20px;
    text-align: center;
    font-family: HelveticaNeue-Medium, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
}
#text3
{
    position: absolute;
    left: 48px;
    width: 177px;
    top: 274px;
    height: 21px;
    background: none;
    border: none;
    font-size: 16px;
    text-align: center;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
}
#rectangle5
{
    position: absolute;
    left: 11px;
    width: 251px;
    top: 346px;
    height: 56px;
    background: rgb(255, 255, 255);
    border: none;
    -webkit-box-shadow: 0px -1px 3px 0 rgba(0, 0, 0, 0.482);
       -moz-box-shadow: 0px -1px 3px 0 rgba(0, 0, 0, 0.482);
            box-shadow: 0px -1px 3px 0 rgba(0, 0, 0, 0.482);
    -webkit-border-radius: 2px 2px 2px 2px;
       -moz-border-radius: 2px 2px 2px 2px;
            border-radius: 2px 2px 2px 2px;
}
#title5
{
    position: absolute;
    left: 8px;
    width: 71px;
    top: 332px;
    height: 24px;
    background: none;
    border: none;
    font-size: 20px;
    text-align: center;
    font-family: HelveticaNeue-Medium, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
}
#text4
{
    position: absolute;
    left: 48px;
    width: 177px;
    top: 353px;
    height: 21px;
    background: none;
    border: none;
    font-size: 16px;
    text-align: center;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
}
