doctype html
html
  head
    title #{day.name} i Saron
    link(rel='stylesheet', href='/css/dayview.css')
  body
    #header.border-box.border
      h1= day.title.toUpperCase()
      h2 #{day.name} i Saron
    #events.border-box.border
      - each event in day.events
        include ./includes/eventbox-even.jade
        //-include ./includes/eventbox-proportional.jade
    #footer.border-box.border
      #saron-logo
